@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@100&display=swap');

body {
    /*font: font-size/font-height font-family   */
    font: 16px/1.5 "Raleway", sans-serif;
    max-width: 70ch;
    margin: 0 auto;
    padding: 20px;
}

/*body {*/
/*    background-color: aqua;*/
/*}*/

h1, h2 {
    font-family: "Great Vibes", cursive;
    line-height: 1.2;
    font-weight: bold;
}

