body {
    background-color: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
    margin: 0;
}

.media-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.media-box {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 0.5em 0.3em rgba(0, 0, 0, 0.4);
    margin: 5px;
    /*text-align: center;*/
    max-width: 300px;
}

.media-box h2 {
    font-family: Georgia, serif;
    font-size: 1.2em;
    /*margin-bottom: 1px;*/
    padding-left: 20px;
}

.media-box p {
    font-size: 1em;
    margin-bottom: 15px;
    padding-left: 20px;
}

.media-box .btn {
    background-color: rgb(0, 153, 0);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    padding: 0.5em 1.5em;
    text-decoration: none;
    float: right;
    margin: 0 2em 2em 0;
}

.media-box img {
    /* Fill the available space while maintaining aspect ratio */
    object-fit: cover;
    /* Stretch to full width of the card */
    width: 100%;
    /* Remove bottom margin */
    margin-bottom: 0;
    box-shadow: 0 0 1.5em 2em rgba(0, 0, 0, 0.5) inset;
}

/* Media Queries for Responsive Design */

@media only screen and (max-width: 600px) {
    .media-box {
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {
    .media-boxes {
        flex-direction: column;
    }
}