
body {
    background-color: lightslategray;
}


p {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    color: whitesmoke;
    border: 2px solid #e6eaef;
    background-color: #0f4069;
    border-radius: 15px 50px
}